.metadata/
/PRACTICA3/Practica3/build/
/PRACTICA4/Practica4/nbproject/private/
/PRACTICA4/tp04_ag/nbproject/private/
/PRACTICA2/Parciales/nbproject/private/
/PRACTICA2/Parciales/build/
/PRACTICA2/Practica5/nbproject/private/
/PRACTICA5/Tiempo/nbproject/private/
/PRACTICA5/TiempoDeEjecucion/nbproject/private/
/PRACTICA5/TiempoDeEjecucion/build/
/PRACTICA5/Tiempo/build/
/PRACTICA5/Practica5/nbproject/private/
/PRACTICA5/Practica5/build/
/PRACTICA5/Practica6/nbproject/private/
/PRACTICA5/AyED/nbproject/private/
/PRACTICA5/AyED/build
/PRACTICA5/Practica6/build/